body {
  background: linear-gradient(90deg, #c8b3d9, #d5c5e5, #e2d7f3, #f2f0fd);
}
.book-container,
.author-container {
  margin-top: 2rem;
}
.form-label {
  font-weight: bold !important;
}
.error {
  color: red;
  font-size: 18px !important;
}
.main-card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.75);
}
.row {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 0px 16px 0px;
  border: 0;
}
.col-div {
  margin-bottom: 24px;
}
.card-title {
  text-align: center;
}
.card-text,
.btn {
  padding-top: 10px;
  font-size: 18px;
}
